* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 37px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.myQuizz {
    width: 1051px;
    height: 181px;
    border: 1px dashed #D4D4D4;
    margin: 146px auto 77px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuQuizzes {
    width: 1051px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #B9B9B9;
}

.message {
    width: 170px;
    margin: 40px 0 20px;
    text-align: center;
}

.createQuizz {
    height: 40px;
    width: 151px;
    font-family: 'Roboto', sans-serif;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    background-color: #fff;
    margin: 0 auto;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
}

.quizzImageGradient {
    width: 340px;
    position: relative;
    display: inline-block;
}

.quizzImageGradient::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
}

.quizzContent {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 19px;
}

.quizzImage {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
    display: block;
}

.quizzTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: #fff;
    position: absolute;
    z-index: 1;
    word-wrap: break-word;
    margin-bottom: 7px;
}

.hide {
    display: none;
}

.quizzSelectedTitle {
    height: 227px;
    margin: 69px 0 42px;
}

.quizzSelectedTitle img {
    height: 227px;
    width: 100%;
    position: relative;
    object-fit: cover;
}

.quizzSelectedTitle .selectedTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 39px;
    color: #fff;
    position: absolute;
    z-index: 1;
    text-align: center;
}

.quizzSelectedTitle .quizzSelectedBackG {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 227px;
    position: absolute;
    position: absolute;
    z-index: 1;
}

@media (min-width: 1100px) {
    .otherQuizzes {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 12px;
    }
}

@media (max-width: 1100px) {
    .myQuizz, .menuQuizzes {
        width: 340px;
    }
}